.submodal {
    max-width: 175px;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.mySwiper2 img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    border: 5px solid #CD2E35;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.swiper-wrapper:first-of-type {
    align-items: center;
}

.swiper-slide-visible img {
    border-radius: 15px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.swiper-slide-thumb-active img {
    border-radius: 15px;
    border: 3px solid #CD2E35;
    box-sizing: border-box;
    opacity: 1;
}

.swiper-wrapper:last-of-type {
    text-align: center;
    padding: 20px 0;
}

.swiper-wrapper:last-of-type .swiper-slide {
    max-width: 175px;
    text-align: center;
}