@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

// @font-face {
//   font-family: 'Inter var';
//   font-weight: 100 900;
//   font-display: swap;
//   font-style: normal;
//   font-named-instance: 'Regular';
//   src: url("./assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
// }
// @font-face {
//   font-family: 'Inter var';
//   font-weight: 100 900;
//   font-display: swap;
//   font-style: italic;
//   font-named-instance: 'Italic';
//   src: url("./assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
// }

// html { font-family: 'Inter', sans-serif; }
// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter var', sans-serif; }
// }

* {
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3E3E3E;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dflex {
  display: flex;
}

p {
  letter-spacing: -0.5px;
}

.link-spanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}