.userbodybackground {
    background-color: #3E3E3E;
}

.userHeroBackground {
    background-color: #2E2E2E;
    border-bottom: 5px solid #CD2E35;
}

.userhero {
    display: flex;
    align-items: center;
    padding: 60px 0 30px 25px;

    img {
        border-radius: 50%;
        height: 200px;
        max-width: 200px;
        width: 100%;
        border: 5px solid #CD2E35;
        object-fit: cover;
    }
}

.userinfo {
    padding-left: 20px;

    * {
        color: white;
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 35px;
    }

    button {
        background-color: #CD2E35;
        font-size: 18px;
        border-radius: 10px;
        padding: 4px 16px;
        font-weight: bold;
        border: none;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.userBackground {
    background-color: #2E2E2E;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.userLogo {
    width: 30%;
    height: auto;
    margin: 20px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    border-radius: 15px;
}