.container {
  max-width: 1200px;
  margin: 0 auto;
}

.backgroundcolor {
  background-color:#3E3E3E;
}

.bodyheader {
  text-align: center;
  font-size: 35px;
  color: #f7f7f7;
}

.alignleft {
  text-align: left !important;
}

.sectionbox {
  padding: 40px 15px 80px 15px;
}

.hero {
  text-align: center;
  margin: 0 auto;
  padding: 80px 0;
  color: white;

  h2 {
    font-size: 40px;
    font-weight: bold;
  }
}