.buildsOptions {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
        font-size: 18px;
        padding: 10px;
        margin: 0;

        @media (max-width: 391px) {
            align-self: center;
            padding: 3px;
        }

        a {
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            color: #f7f7f7;

            &:hover {
                text-decoration: underline;
                color: #CD2E35;
                cursor: pointer;
            }
        }
    }
}

.buildForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    textarea,
    button {
        margin: 10px;
        border-radius: 5px;
        background-color: #CD2E35;
        color: #F7F7F7;
        border: none;

        &::placeholder {
            color: #F7F7F7;
            padding: 5px;
        }
    }

    h4{
        color: #F7F7F7;
        margin: 2px 0;
    }

    button {
        font-size: 20px;
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        max-width: 373px;
        width: 100%;
        padding: 20px;
    }

    li {
        img {
            max-width: 15px;
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }

        input {
            border: none;

            &::placeholder {
                color: #CD2E35;
            }
        }
    }

    .userInputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #CD2E35;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;

        input {
            margin: 10px;
            border-radius: 5px;
            background-color: #F7F7F7;
            color: #CD2E35;
            border: none;
            font-size: 16px;

            &::placeholder {
                color: #CD2E35;
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }

    }

}