 .footerbackground{
    width: 100%;
    background-color: #CD2E35;
}

.footerLogo {
    max-width: 280px;
    width: clamp(16.0625rem, 15.8273rem + 1.0455vw, 17.5rem);
}

.footerlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footerlist li {
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

.footerlist li a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.footerlist li a:hover {
    text-decoration: underline;
}

.footersocial {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.footersocial li {
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footerContainer h2 {
    margin-top: -12px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.footersocial li img{
    max-width: 50px;
    margin: 0;
    display: block;
}

@media (min-width: 755px) {
    .footersocial li:hover {
        scale: 1.2;
    }
}

@media (max-width: 755px) {
    .footerContainer {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    #footer1, #footer2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 391px) {
    .footerlist {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footerlist li {
        align-self: center;
        padding: 3px;
    }
}