.footerbackground{
    width: 100%;
    background-color: #CD2E35;
}

.footerLogo {
    width: 25%;
    margin: 50px;
    object-fit: contain;
    border-radius: 15px;
}

.footersocial {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footersocial > li > img{
    max-width: 50px;
    width: 100%;
    margin: 0 40px;
}

.footerlist {
    list-style: none;
    color: white;
}

.footerlist>li {
    font-size: 30px;
    margin: 10px;

}