.headerLink {
    width: 30%;
    height: auto;
    margin: 20px;
    /* background-color: rgba(255, 255, 255, 1); */
    padding: 0 10px;
    border-radius: 15px;
}

.headerLogo {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 5px 0 0 0;
}

.headerBackground {
    background-color: #2E2E2E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: 5px solid #CD2E35; */
}


.headerBoxBull {
    display: flex;
    justify-content: space-between;
}

.headerList {
    list-style: none;
    display: flex;
    align-items: center;
}

.headerList>li {
    margin: 0 20px;
}

.headerList>li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.headerList li a:hover{
    color: #CD2E35;
}

.hero {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 80px 0;
    color: white;
}

.hero > h2{
    font-size: 40px;
    font-weight: bold;
}