.buildModal {
    h3 {
        text-align: center;
        font-size: 35px;
    }
}

.buildForm {
    max-width: 665px;
    margin: 0 auto;

    .topInputs {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            max-width: 150px;

            label {
                color: #f7f7f7;
                font-weight: bold;
                font-size: 24px;
            }

            input {
                background-color: #CD2E35;
                border: none;
                border-radius: 7px;
                color: #f7f7f7;
                font-size: 18px;
                font-weight: bold;
                display: block;
                padding-left: 10px;
                box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 53%);

                &::placeholder {
                    color: #E2ACAC;
                }
            }
        }

        @media (max-width: 665px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    h4 {
        font-size: 24px;
        color: white;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .buildformbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #CD2E35;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 53%);

        div {
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 5px 0;
            border-radius: 10px;

            p {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                color: #f7f7f7;
            }

            input {
                width: 100%;
                background-color: #f7f7f7;
                border-radius: 10px;
                border: none;
                display: block;
                font-size: 18px;
                font-weight: bold;
                padding-left: 10px;
                color: #CD2E35;

                &::placeholder {
                    color: #E2ACAC;
                }

                &:focus-within {
                    border-radius: 10px 0 0 10px;
                }
            }

            img {
                max-width: 25px;
                width: 100%;
            }

            .buildFrmBtn {
                border: none;
                padding: 0;
                display: flex;
                align-items: center;
            }

            .removeBtn {
                background-color: #cd2e3696;

                img {
                    padding: 5px 7px 6px 5px;
                }
            }

            .addBtn {
                background: #3E3E3E;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #f7f7f7;
                font-weight: bold;
                font-size: 20px;
                border-radius: 8px;
                outline: none;

                img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                    max-width: 22px;
                    width: 100%;
                    padding: 5px 5px 7px 5px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #buildDescription {
        background-color: #CD2E35;
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 175px;
        color: #f7f7f7;
        font-size: 20px;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding: 10px;
        box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 53%);
        resize: none;

        &::placeholder {
            color: #E2ACAC;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #f7f7f7;
            border-radius: 50px;
        }
    }

    .submitFormBox {
        display: flex;
        justify-content: center;
        .submitFormBtn {
            background-color: #CD2E35;
            color: #f7f7f7;
            padding: 5px 40px;
            width: 100%;
            max-width: 300px;
            margin: 40px 0;
            font-weight: bold;
            font-size: 25px;
            border-radius: 10px;
            box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 53%);
            transition: all 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: #FC2832;
            }
        }
    }
}